CLOUDFLARE-API-TOKEN=replace-with-your-cloudflare-api-token
BACKUP_RETENTION_DAYS=30
BACKUP_OUTPUT_DIR=backups
# txt for bind9 (cloudflare web) format or json for json format (import from api)
BACKUP_FORMAT=txt
